
.slideshow-container{
    max-width: 1400px;
    position: relative;
    margin: auto;
   
}

.mySlides{
    display: none;
}

header{
    position: static;
    text-align: center;
    background-color: gray;
    padding: 7px 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
}
header h2{
    border: 4px solid white;
    margin: 5px 41%;
    padding: 10px 10px;
    border-radius: 28px;
    background-color: gray;
    user-select: none;
}

.mySlides.fade img{
    width: 100%;
}
.numbertext{
    position: absolute;
    color: #f2f2f2;
    left: 15px;
    font-size: 24px;
    padding: 8px 12px;
    top: 80px;

}
.text{
    color: #f2f2f2;
    font-size: 25px;
    padding: 8px 12px;
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
    
}
.prev, .next{
    position: absolute;
    top: 45%;
    font-size: 40px;
    color: whitesmoke;
    /* background-color: black; */
    padding: 20px 20px;
    cursor: pointer;
    width: auto;
    /* margin-top: -22px; */
    font-weight: bold;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    
}
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
    background-color: rgba(0, 0, 0, 0.8);
}
.dot{
    
    cursor: pointer;
    height: 15px;
    width: 15px;
    background-color: white;
    /* background-color: #bbb; */
    display: inline-block;
    border-radius: 50%;
    margin: 0 2px;
    transition: background-color 0.6s ease;
    
}
.dotcircles{
    text-align: center;
    position: relative;
    bottom: 35px;
    width: 100%;
}
.active, .dot:hover{
    background-color: #717171;
}

/* fading animation */
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade{
    from{ opacity: .3 }
    to{ opacity: 1}
}
@keyframes fade{
    from{opacity: .3}
    to{opacity: 1}
}
p{
    width: 1200px;
    text-align: center;
    font-size: 20px;
    color: #221e1e;
    padding: 10px 10px;
    margin: 10px auto;
}
nav {
    background-color: gray;
    padding: 10px;
    position: sticky;
    top: 0px;
}

ul {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

li {
    width: 18%;
    display: inline-block;
    font-size: 21px;
}
a{
    text-decoration: none;
    color: blue;
    font-size: 24px;
}
a:hover{
    text-transform: uppercase;
    color: cornflowerblue;
}
