/*     */
body{
    background-color: #3f3939;
    font-family: Arial;
    margin: 0px;
}
header{
    text-align: center;
    background-color: black;
    padding: 20px;
    /* position: fixed;
    width: 100%;
    top: 0; */
}
form{
    margin: 20px;
    color: #eee;

}
form p{
    font-size: 18px;
    letter-spacing: 0.1em;
}


/*    */
input[type="radio"]{
    opacity: 0;
    margin: 0;
    width: 0;
}
label[for="male"], label[for="female"]{
    
    margin-bottom: 10px;
    display: inline-block;
    padding-left: 26px;
    background: url(img/checks.png) no-repeat;
    background-position: 0 -32px;
    line-height: 20px;
    cursor: pointer;
}
input:checked + label[for="male"] , input:checked + label[for="female"]{
    background-position: 0 0;
    color: #ce1010;
}
/*  CHECKBOX STYLES  */
input[type="checkbox"]{
    opacity: 0;
    margin: 0;
    width: 0;
    background-color: white;
}
label[for="web"], label[for="photoshop"], label[for="madona"]{
    margin-bottom: 10px;
    display: inline-block;
    padding-left: 26px;
    background: url(img/checks.png) no-repeat;
    background-position: 0 -98px;
    line-height: 24px;
    cursor: pointer;
    
}
input:checked + label[for="web"], input:checked + label[for="photoshop"], input:checked + label[for="madona"]{
    color: #ce1010;
    background-position: 0 -65px;
}

/*  Text input styles & fieldsets  */
fieldset{
    margin: 20px 0px;
    padding: 20px;
    border: 2px solid #743e3e;
}
legend{
    font-size: 18px;
    letter-spacing: 0.1em;
    padding: 10px;
}
input[type="email"], input[type="telephone"]{
    display: block;
    margin-bottom: 20px;
    padding: 10px 10px 10px 50px;
    border: 0px;
    border-radius: 4px;
    background: url(img/inputs.png) no-repeat;
    background-color: #222;
    font-size: 16px;
    color: #fff;
    float: left;
    clear: both;
}
input[type="email"]{
    background-position: 7px 8px;
}
input[type="telephone"]{
    background-position: 7px -58px;
}

/*  style select boxes*/
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: block;
    margin: 30px 0px;
    padding: 10px 50px 10px 10px;
    background: url(img/select.png) no-repeat 95% center;
    background-color: #222;
    color: #fff;
    border-radius: 4px;
    border: 2px solid #fff;
    width: 280px;
    font-size: 16px;
}
input[type="submit"]{
    background: #b61111;
    padding: 15px;
    color: white;
    font-size: 20px;
    letter-spacing: 0.1em;
    border-radius: 4px;
    cursor: pointer;
    border: 0;
    box-shadow: 1px 3px 5px black;
    width: 280px;
}
form{
    background-color: #141414;
    width: 500px;
    margin: 10px auto;
    padding: 20px 40px;
    border: 0;
    box-shadow: 2px 5px 14px #0d0d0d;
}
/*  validation styles  */
input[type="email"]:valid, input[type="telephone"]:valid{
    border: 2px solid white;
}
input[type="email"]:valid{
    background-position: 7px -23px;
}
input[type="telephone"]:valid{
    background-position: 7px -98px;
}
input[type="email"]:valid + .tick, input[type="telephone"]:valid + .tick{
    background: url(img/tick.png) center;
    background-size: 100%;
    display: block;
    width: 20px;
    height: 20px;
    float: left;
    margin: 10px;

}